/*       All_Font_Style    */
*{
    margin: 0;
    padding: 0;
    font-family: 'ayman'!important;
    font-weight: bolder;
}

@font-face {
font-family: 'ayman';
src: url( 'rabar.woff');

}
/*       background_Color_Body         */
body {
   
    background-image: linear-gradient(to right ,#864e2d,#a67a4d);

}

/*          Header      */
header{   
    
    position:sticky;
    top:0;
    background-image: linear-gradient(to bottom ,#c17508,#863e00);
    width:95vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: space-between!important;
}
header img{
    height:40px;
    margin:1em;
    width:150px;
    object-fit: cover;
    border-radius:15px;
}
header section:nth-child(1){
    width: 15%;
}
header section:nth-child(2){
    width:40%;
}
.navbar-nav li{
    margin:0 0.25em;
}
.navbar-nav li a{
    color:white;
}
.navbar-nav li a.active, .navbar-nav li a:hover, .navbar-nav li a:focus{
    color:orange!important;
}
#bookmark::after, #cart:after{
    content: attr(data-total);
    position:absolute;
    width:20px;
    height:20px;
    color:white;
    background-color: red;
    text-align: center;
    font-size:10pt;
    border-radius: 50%;
    left:12px;
    top:-5px;
}

.icons{
    padding:1em;
    display:flex;
    justify-content: space-evenly;
}
.icons i{
    color:rgb(255, 246, 231);
    font-size:1.25rem;
    cursor:pointer;
    transition:all 0.3s ease-in; 
    position: relative;
}
.icons i:hover{
   color:orange
}
/*          MAIN        */

.Title_TeaShop{
    display: flex!important;
    color: rgb(235, 216, 183);
    text-align: justify;
    word-spacing: 3px;
    padding:3em;  
    justify-content: space-between;
    align-items: start;
}
.Title_TeaShop img{
    width:60%;
    aspect-ratio: 16/9;
    float:right;
}
#slideshowContainer{
    min-height:350px;
}
#slideshowContainer > *{
    height:100%;
}
.slideshow{
    transition: all 1s ease-in;
}

/*          A brief history of tea_Style        */

.history_Box{

    border: 2px solid #e78f41;
    color: white;
    margin: 5%;
    padding: 5%;
    border-radius: 21px;
    word-spacing: 2px;
}
.history_Box img{
    width:100%;
    aspect-ratio: 16/9;
    
}
.history_Box h4{
    padding-top: 3%;
}

.posts{
  
    width:80vw;
    margin:3em auto;
    display:grid;
    grid-template-columns: 270px 270px 270px;
    align-items: start;
    gap: 20px;
}
.post{
    background-image: linear-gradient(to right ,#ad7949,#c89c6b);
    padding:1.5em;
    border-radius:12px;
    box-shadow:0px 0px 20px rgba(56, 34, 0, 0.781);
    transition:all 0.3s ease-in;
}
.post:hover{
    box-shadow:0px 0px 20px  rgba(255, 153, 0, 0.5);
}
.post img{
    width:100%;
    border-radius:15px;
    aspect-ratio: 1/1;
}
.post i.bi{
    font-size:1.2rem;
}
@media screen and (max-width: 60em){
    .posts{
        grid-template-columns: 270px;
        width:60vw;
    }
    .navbar-large{
        display:none;
    }
    .extra-space{
        display:block!important;
    }
}